<!DOCTYPE html>
<html>
<head>
    <title>Django Users Manager</title>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
</head>
<body>
<div class="navbar navbar-inverse">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="{% url 'users.list_all' %}">Django Users Manager</a>

            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li class="">
                        <a href="{% url 'users.list_all' %}">Users</a>
                    </li>
                    <li class="">
                        <a href="./getting-started.html">ACL</a>
                    </li>
                    <li class="">
                        <a href="./scaffolding.html">Scaffolding</a>
                    </li>
                    <li class="active">
                        <a href="./base-css.html">Base CSS</a>
                    </li>
                    <li class="">
                        <a href="./components.html">Components</a>
                    </li>
                    <li class="">
                        <a href="./javascript.html">JavaScript</a>
                    </li>
                    <li class="">
                        <a href="./customize.html">Customize</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% block content %}{% endblock %}
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
</body>
</html>