{% extends 'base.html' %}

{% block content %}
    <div class="span3">
        <h2>Password Reset</h2>
        {% if form.errors %}
            <div class='alert alert-error'>
                {% for key, error in form.errors.items %}
                    {{ key }}: {{ error }}
                {% endfor %}
            </div>
        {% endif %}
        <form action="{% url 'users.forgot_password' %}" method="post">
            {% csrf_token %}
            <label>E-mail: </label>
            <input type="text" name="email" class="span3" placeholder="E-mail">
            <input type="submit" value="Reset Password" class="btn btn-primary pull-right">

            <div class="clearfix"></div>
        </form>
    </div>
{% endblock %}