{% extends 'django_users_login/base.html' %}

{% block content %}
<table class="table table-striped">
    <thead>
    <tr>
        <th>#</th>
        <th>Username</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for user in users %}
    <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.username }}</td>
        <td></td>
        <td><a href="javascript:;"><i class="icon-pencil"></i></a>
            <a href="javascript:;"><i class="icon-minus"></i></a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}