{% extends 'base.html' %}

{% block content %}
    <div class="span3">
        <h2>Login</h2>
        {% if form.errors %}
            <div class='alert alert-error'>
                {% for key, error in form.errors.items %}
                    {{ key }}: {{ error }}
                {% endfor %}
            </div>
        {% endif %}
        <form action="{% url 'users.login' %}" method="post">
            {% csrf_token %}
            <input type="hidden" value="{{ next_url }}" name="next" />
            <label>Usuário: </label>
            <input type="text" name="username" class="span3" placeholder="Usuário">
            <label>Senha: </label>
            <input type="password" name="password" class="span3" placeholder="senha">
            <input type="submit" value="Autenticar-se" class="btn btn-primary pull-right">

            <div class="clearfix"></div>
        </form>
    </div>
{% endblock %}