{% extends "base.html" %}
{% block content %}
<h2>Change Password</h2>
<form action="" method="post">
    {% csrf_token %}
    <label for="password">
        Old password
        <input id="password" type="password" name="old_password"/>
    </label>
    <label for="">
        New password
        <input id="password" type="password" name="new_password"/>
    </label>
    <label for="">
        Confirm password
    <input id="password" type="password" name="confirm_new_password"/>
    </label>
<button name="submit" type="submit">Change</button>
</form>
{% endblock %}


