{% extends 'base.html' %}

{% block content %}
<div class="span3">
    <h2>Sign Up</h2>

    <form>
        <label>First Name</label>
        <input type="text" name="firstname" class="span3">
        <label>Last Name</label>
        <input type="text" name="lastname" class="span3">
        <label>Email Address</label>
        <input type="email" name="email" class="span3">
        <label>Username</label>
        <input type="text" name="username" class="span3">
        <label>Password</label>
        <input type="password" name="password" class="span3">
        <label><input type="checkbox" name="terms"> I agree with the <a href="#">Terms and Conditions</a>.</label>
        <input type="submit" value="Sign up" class="btn btn-primary pull-right">

        <div class="clearfix"></div>
    </form>
</div>

{% endblock %}