<!DOCTYPE html>
<html>
<head>
    <title>Django Users Login Test Page</title>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
</head>
<body>
<div class="navbar navbar-inverse">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="{% url 'home' %}">Django Users Login Test Page</a>

            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li class="">
                        <a href="{% url 'users.login' %}">Login</a>
                    </li>
                    <li class="">
                        <a href="{% url 'users.logout' %}">Logout</a>
                    </li>
                    <li class="">
                        <a href="{% url 'logged_in' %}">Access only logged in</a>
                    </li>
                    <li class="">
                        <a href="{% url 'users.forgot_password' %}">Password Reset</a>
                    </li>
                    <li class="">
                        <a href="{% url 'users.change_password' %}">Change Password</a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container">
    {% block content %}{% endblock %}
</div>
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
</body>
</html>