{% extends 'base.html' %}

{% block content %}
<h1>Home sweet home</h1>

<p>To access this page is not necessary to logged in.</p>

<p>But to see <a href="{% url 'logged_in' %}">this another page</a> you must be logged in.</p>

{% if request.user.is_authenticated %}
    <div class="well">
        <h3>Great!</h3>
        <p>The user <strong>{{ request.user }}</strong> is currently logged in.</p>
    </div>
{% endif %}

{% endblock %}