{% extends 'base.html' %}
{% block content %}
    <div class="well">
        <h1>This page is only visualized by logged users.</h1>
        <p>Congrats, this plugin is working correctly!</p>
    </div>
{% endblock %}
